<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{.URL}}"/>
    <title>{{.Title}}</title>
</head>
<body>
    <div id="content">
      <h1 id="pagetitle">{{.Title}}</h1>
      {{.Content}}
    </div>
</body>
</html>
